<p><%= link_to "new post", new_post_path %></p>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <p><em>Posted: <%= long_form_date(post.created_at) %> at <%= long_form_time(post.created_at) %></em></p>
<% end %>